<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AES</title>
    <!-- link rel='stylesheet' href='../static/css/app.css' th:href="@{/css/app.css}"-->
    <!-- <script src="newScript.js"></script> in body modify according to location of newScript.js-->
    <link rel="stylesheet" href="app.css">
    <link rel="icon" href="https://w7.pngwing.com/pngs/887/91/png-transparent-bajaj-auto-bajaj-finserv-ltd-mortgage-loan-finance-finance-blue-company-text.png">
    <!-- the above link is for logo -->
    <style>
        .child{
            border: 0px solid white;
            float: left;
            width: 50%;
        }
        
    </style>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="AES.html" class="nav-logo">Bajaj Utility Portal</a>
            <ul class="nav-menu">
                <li class="nav-item"><a href="AES.html" class="nav-link">AES</a></li>
                <li class="nav-item"><a href="Base64.html" class="nav-link">BASE64</a></li>
                <li class="nav-item"><a href="JSON.html" class="nav-link">JSON</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <script src="newScript.js"></script>

<!-- <div class="body-text"><h1>This is a BASE64 page</h1></div>-->   
    <section>
        <section class="child">
            <div class="aes">
                <!-- <form th:action="@{aesenc}" th:object="${encrytpion}" method="post"> -->
                <form>
                    <h1 style="font-size: 30px;color:black;text-align: center;padding-bottom: 25px;">AES Encryption</h1>
                    <div class="input-group">
                        <textarea input="inputText" id="plaintext" name="plaintext" rows="8" required></textarea>
                        <label for="plaintext">Enter text to be Encrypted</label>
                    </div>
                    <div class="input-group">
                        <input type="text" id="sckey1" name="sckey1" required>
                        <label for="sckey1">Enter Secret Key</label>
                    </div>
                   
                    <div class="input-group">
                    <button type="submit">Encrypt</button>
                    </div>

                    <div class="input-group">
                        <!-- <span th:text="${encryption}"></span>-->
                        <textarea output="outputText" id="aesout" name="aesout" rows="8"></textarea>
                        <label for="aesout">AES Encrypted Output</label>
                    </div>
                    
                </form>
            </div>
        </section>
        <section class="child">
            <div class="aes">
                <!-- <form th:action="@{aesdec}" th:object="${decryption} method="post">-->
                <form>
                    <h1 style="font-size: 30px;color:black;text-align: center;padding-bottom: 25px;">AES Decryption</h1>
                    <div class="input-group">
                        <textarea input="inputText" id="hashtext" name="hashtext" rows="8" required></textarea>
                        <label for="hashtext">Enter text to Decrypt</label>
                    </div>
                    <div class="input-group">
                        <input type="text" id="sckey2" required>
                        <label for="sckey2">Enter Secret Key</label>
                    </div>
                   
                    <div class="input-group">
                    <button type="submit">Decrypt</button>
                    </div>

                    <div class="input-group">
                        <!-- <span th:text="${decryption}"></span>-->
                        <textarea output="outputText" id="aesdout" name="aesdout" rows="8"></textarea>
                        <label for="aesdout">AES Decrypted Output</label>
                    </div>
                    
                </form>
            </div>
        </section>
    </section>

    
</body>
</html>

<!-- https://www.youtube.com/watch?v=524ycUqs3f0 -->
<!-- above link is for form  -->

<!-- https://stackoverflow.com/questions/25436537/using-two-textareas-one-input-and-one-output-and-javascript-to-make-an-alphabe -->
<!-- above link for output textarea -->