@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    /* background-color: aqua; */
    background-color: teal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    min-height: 8vh;
    /* background-color: rgb(7, 247, 255); */
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    /* color: #475569; */
    color:#fff;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}









/* for aes encryption*/

.aes{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* background-color: #92A8D1; */
    /* background-color: rgb(110, 105, 105); */
    /* background-color: rgb(56, 56, 241); */
    /* background-color: black; */
    /* background-color: blueviolet; */
    /* background-color: mediumblue; */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

form{
    width: 90%;
    max-width: 600px;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    /*  */
    /*  */
    border:2px solid #dadada;
    border-radius:7px;
    color: black;
    background: transparent;
    font-size: 15px;   
}

input:focus,textarea:focus{ 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    /*  */
    color: black;
    cursor: text;
    transition: 0.2s;
}

button{
    padding: 10px 0;
    /*  */
    color: black;
    outline: none;
    background: transparent;
    /*  */
    border:2px solid #dadada;
    border-radius:7px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 16px;
}